@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: font-sans, sans-serif;
}

@layer base {
  .heading {
    font-family: var(--font-copperplate);
    font-weight: 800;
  }
  .sub-heading {
    font-family: var(--font-helvetica-neue);
    font-weight: 500;
  }
  .logo {
    font-family: var(--font-livvic);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
