.navigationMobileLinks {
  @apply absolute top-0 bg-white w-full h-screen grid place-content-center gap-y-10 transition-all duration-500 ease-in-out z-[200] overflow-auto;
}

@media (max-width: 1024px) and (orientation: landscape) {
  .navigationMobileLinks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10%;
  }
}

.navigationMobileCloseBtn {
  @apply absolute top-5 right-5 text-slate-800;
}

.navigationMobileLink {
  @apply relative text-2xl font-medium text-slate-800 font-copperplate w-fit;
}

.navigationMobileLink::after {
  @apply absolute left-0 -bottom-2 content-[''] w-full h-[3px] bg-transparent transition-colors duration-300;
}

.navigationMobileLink:hover::after {
  @apply bg-current;
}

.subLinksWrapper {
  @apply flex-col gap-4 z-10 pt-10;
}

.subLink {
  @apply relative w-fit font-copperplate font-medium text-base text-slate-700;
}

.subLink::after {
  @apply absolute left-0 -bottom-2 content-[''] w-full h-[3px] bg-transparent transition-colors duration-300;
}

.subLink:hover::after {
  @apply bg-current;
}